
  nav a:hover, 
  nav a:focus {
    background: gold;
    color: currentColor;
  }

 /* Runde Bilder */
.rund {
    border-radius: 50%;
}

a:link, a:visited {
    background-color: white;
    color: blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: lightgrey;
  }

  body {
    background-color: white;
    color: white;
  }
  
  h1 {
    background-color: white;
    color: black;
  }
  
  div {
    background-color: white;
    color: white;
  }

  ol {
   
    margin-left: 300px;
}